{% extends "layout.html" %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% block title %}
   <h1>Fantasy Basketball Assistant</h1>
{% endblock %}

{% block main %}
<header>
<h2> Games Played per Week for {{ team }} </h2>
</header>
<h6 class="box2"> Use this chart to find waiver wires with the most games played that week </h6>
<div class="container mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Week</th>
        <th scope="col">Games</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for week in week_count %}
        <tr>
            <td> {{week}} </td>
            <td> {{week_count[week]}} </td>
        </tr>
        {% endfor %}
      </tr>
    </tbody>
  </table>


   </div>
{% endblock %}
